@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&family=Montserrat:wght@500;700&family=Pacifico&family=Roboto:wght@700&family=Titan+One&display=swap');
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}